<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan Departments">
	<test name="Home Loan Department">
		<classes>
			<class name="TestNGEx.HomeLoan">
				<methods>

					<include name="HomeLoanMobile"></include>

				</methods>

			</class>
		</classes>
	</test>
	
	
	<test name="Car Loan Department">
		<classes>


			<class name="TestNGEx.CarLoan">
				<methods>

					<exclude name="CarLoanUI"></exclude>
				</methods>

			</class>
		</classes>
	</test>
</suite>
